<div class="quick-reg">
  <h4>QUICK REGISTRATION</h4>
  <div>
    <div>
      <input #name type="text" class="form-control" required placeholder="Your Name">
    </div>
    <div>
      <input #email type="email" class="form-control" required aria-describedby="emailHelp" placeholder="Email"/>
    </div>
    <div>
      <input #pass type="password" class="form-control"  required placeholder="Password"/>
    </div>
    <div>
      <input #confirmPass type="password" class="form-control" required placeholder="Confirm Password"/>
    </div>
    <div>
      <button class="btn btn-danger" (click)="register(name.value, email.value, pass.value, confirmPass.value);
              name.value = ''; email.value = ''; pass.value = ''; confirmPass.value = '';">
        REGISTER
      </button>
    </div>
  </div>
</div>






