<div class="quick-reg">
  <h4>QUICK REGISTRATION</h4>
  <form novalidate>
    <label>
      <input #name type="text" class="form-control" required placeholder="Your Name">
    </label>
    <label>
      <input #email type="email" class="form-control" required aria-describedby="emailHelp" placeholder="Email"/>
    </label>
    <label>
      <input #pass type="password" class="form-control"  required placeholder="Password"/>
    </label>
    <label>
      <input #confirmPass type="password" class="form-control" required placeholder="Confirm Password"/>
    </label>
    <div>
      <button class="btn btn-danger" (click)="register(name.value, email.value, pass.value, confirmPass.value);">
        REGISTER
      </button>
    </div>
  </form>
</div>






