<div>
  <div *ngIf="editing" class="form-group row">
    <label class="col-sm-2 col-form-label">{{ label }}</label>
    <div class="col-sm-10">
      <input #inlineEditControl [name]="value" [type]="type" [(ngModel)]="value" class="form-control"
             [required]="required" [placeholder]="label" (blur)="onBlur($event)" />
    </div>
  </div>
  <div *ngIf="!editing" class="form-group">
    <label class="block bold">{{ label }}</label>
    <div title="Click to edit" (click)="edit(value)" (focus)="edit(value);" tabindex="0" class="inline-edit">{{value}}&nbsp;</div>
  </div>
</div>
