<div class="full-reg">
  <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" data-interval="false" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" data-interval="false"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" data-interval="false"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3" data-interval="false"></li>
    </ol>
    <div # class="carousel-inner">
      <div #stage0 class="carousel-item active">
        <div class="registration row">
          <div class="signUp-flow col-12 col-sm-10">
            <h3>Register in just a few steps:</h3>
            <h4>You are...</h4>
            <div class="btn btn-outline-light btn-lg">Man</div>
            <div class="btn btn-outline-light btn-lg">Woman</div>
          </div>
        </div>
      </div>
      <div #stage1 class="carousel-item">
        <div class="registration row">
          <div class="signUp-flow col-12 col-sm-10">
            <h3>Register in just a few steps:</h3>
            <h4>You want to...</h4>
            <div class="btn btn-outline-light btn-lg">Go on a date</div>
            <div class="btn btn-outline-light btn-lg">Find a new friends</div>
            <div class="btn btn-outline-light btn-lg">Just chatting</div>
          </div>
        </div>
      </div>
      <div #stage2 class="carousel-item">
        <div class="registration row">
          <div class="signUp-flow col-12 col-sm-10">
            <h3>Register in just a few steps:</h3>
            <h4>You are interesting in...</h4>
            <div class="btn btn-outline-light btn-lg">Man</div>
            <div class="btn btn-outline-light btn-lg">Woman</div>
            <div class="btn btn-outline-light btn-lg">All</div>
          </div>
        </div>
      </div>
      <div #stage3 class="carousel-item">
        <div class="registration row">
          <div class="signUp-flow col-12 col-sm-10">
            <h4>And in the end:</h4>
            <label>
              <input #name type="text" class="form-control" required placeholder="Your Name"/>
            </label>
            <label>
              <input #bday type="date" class="form-control" required placeholder="Date of birth"/>
            </label>
            <label>
              <input #location type="text" class="form-control" required placeholder="Location"/>
            </label>
            <label>
              <input #email type="email" class="form-control" required aria-describedby="emailHelp" placeholder="Email"/>
            </label>
            <label>
              <input #pass type="password" class="form-control"  required placeholder="Password"/>
            </label>
            <label>
              <input #confirmPass type="password" class="form-control" required placeholder="Confirm Password"/>
            </label>
            <button type="submit" class="btn btn-danger">
              START MEETING
            </button>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
      (click)="logevent($event)"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



