:host {
  .profile-setting {
    width: 100%;
    margin: 1em;
    padding: .5em;

    .button-update {
      height: 4vh;
      width: 100%;
      text-align: right;

      input[type=button] {
        width: 40%;
        padding: 0 16px;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
          background-color: #555b6e;
        }

        &:active {
          background-color: #1a2580;
        }
      }
    }
  }

  .modal-success {
    height: 6vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #193952;
    background: green;

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .message {
      display: inline-block;
      vertical-align: middle;
    }
  }

}
