<div class="user-profile-container container">
  <div class="user-profile-wrapper row">
    <h1 class="user-profile__heading">Your profile</h1>
    <!-- <img
      class="user-profile__pic"
      src="http://via.placeholder.com/500x500"
      alt="profile-pic"
    /> -->
    <img
      class="user-profile__pic"
      src=""
      alt="profile-pic"
    />
    <button 
      class="user-profile__btn--change btn"
      (click)="enableChanges()"
    >
      Change
    </button>
    <form 
      class="user-profile__form"
      (onSubmit)="submitUserData()"
    >
      <div class="user-profile__info">
        <div class="user-profile__name form-group">
          <label for="usr-name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="usr-name"
            [disabled]="userProfaleChangeIsEnabled"
            [(ngModel)]="userName"
            name="userName"
          >
        </div>
        <div class="user-profile__sex">
            <label for="usr-sex">Sex:</label>
            <input
              type="text"
              class="form-control"
              id="usr-sex"
              [disabled]="userProfaleChangeIsEnabled"
              [(ngModel)]="userSex"
              name="userSex"
            >
        </div>
        <div class="user-profile__age">
            <label for="usr-age">Age:</label>
            <input
              type="text"
              class="form-control"
              id="usr-age"
              [disabled]="userProfaleChangeIsEnabled"
              [(ngModel)]="userAge"
              name="userAge"
            >
        </div>
        <div class="user-profile__location">
            <label for="usr-loc">Location:</label>
            <input
              type="text"
              class="form-control"
              id="usr-loc"
              [disabled]="userProfaleChangeIsEnabled"
              [(ngModel)]="userLocation"
              name="userLocation"
            >
        </div>
      </div>
      <div class="user-profile__additional-info">
        <div class="user-profile__interests--wrapper form-group">
          <label
            class="user-profile__interests--label"
            for="interests"
          >Interests</label>
          <textarea
            class="user-profile__interests--field form-control"
            name="interests"
            id="interests"
            rows="5"
            [disabled]="userProfaleChangeIsEnabled"
            [(ngModel)]="userInterests"
            name="userInterests"
          ></textarea>
        </div>
        <div class="user-profile__addit-info--wrapper form-group">
          <label
            class="user-profile__addit-info--label"
            for="addit-info"
          >Something about me</label>
          <textarea
            class="user-profile__addit-info--field form-control"
            name="additional-info"
            id="addit-info"
            rows="5"
            [disabled]="userProfaleChangeIsEnabled"
            [(ngModel)]="userAdditInfo"
            name="userAdditInfo"
          ></textarea>
        </div>
      </div>
      <div class="user-profile__controls btn-group-sm">
        <button 
          class="user-profile__btn--save btn"
          [disabled]="userProfaleChangeIsEnabled"
          type="submit"
        >
          Save changes
        </button>
        <button 
          class="user-profile__btn--cancel btn"
          [disabled]="userProfaleChangeIsEnabled"
          (click)="cancelChanges()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
