<div class="right-part">
  <div>
    <!--<h2>{{ userName }}, {{ age }}</h2>-->
    <h2>Angela Merkel, 35</h2>
  </div>
  <div>
    <app-photo-slider></app-photo-slider>
  </div>
  <!--<div>-->
    <!--<h2>Age</h2>-->
    <!--<h2>{{age}}</h2>-->
  <!--</div>-->
  <!--<div>-->
    <!--<h2>Location</h2>-->
    <!--<h2>{{location}}</h2>-->
  <!--</div>-->
  <!--<div>-->
    <!--<h2>Interests</h2>-->
    <!--<h2>{{interests}}</h2>-->
  <!--</div>-->
  <!--<div>-->

    <!--I want-->
  <!--</div>-->
  <!--<div>-->
    <!--Personal information-->
  <!--</div>-->
</div>
