<main class="main">
  <app-administrator-navbar class="admin-navbar">
  </app-administrator-navbar>

  <app-administrator-header class="header" [ngClass]="{'header-full-screen': !mainSectionIsVisible}">
  </app-administrator-header>

  <section
    class="main-section"
    [ngClass]="{
      'main-section-full-screen': !mainSectionIsVisible,
      'full-screen': !mainSectionIsVisible}">
    <div class="main-section-content" [ngClass]="{'full-screen': !mainSectionIsVisible}">
      <div class="general-information">
        <div class="general-information_wrapper">
          <div class="general-information_section text">
            <div class="section-title">
              <i class="fas fa-users"></i>
              <span>Total Users</span>
            </div>

            <div class="section-counter">
              3 500
            </div>

            <div class="section-changes">
              <i class="fas fa-caret-up increase"></i>
              <span class="increase">4%</span>
              <span>Since last week</span>
            </div>
          </div>
        </div>

        <div class="general-information_wrapper">
          <div class="general-information_section">
            <div class="section-title">
              <i class="far fa-clock"></i>
              <span>Average Time</span>
            </div>

            <div class="section-counter">
              238.70
            </div>

            <div class="section-changes">
              <i class="fas fa-caret-down decrease"></i>
              <span class="decrease">9%</span>
              <span>Since last week</span>
            </div>
          </div>
        </div>

        <div class="general-information_wrapper">
          <div class="general-information_section">
            <div class="section-title">
              <i class="fas fa-user"></i>
              <span>Total Females</span>
            </div>

            <div class="section-counter">
              2 751
            </div>

            <div class="section-changes">
              <i class="fas fa-caret-up increase"></i>
              <span class="increase">12%</span>
              <span>Since last week</span>
            </div>
          </div>
        </div>

        <div class="general-information_wrapper">
          <div class="general-information_section">
            <div class="section-title">
              <i class="fas fa-user"></i>
              <span>Total Males</span>
            </div>

            <div class="section-counter">
              2 674
            </div>

            <div class="section-changes">
              <i class="fas fa-caret-down decrease"></i>
              <span class="decrease">4%</span>
              <span>Since last week</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-administrator-footer class="footer">
  </app-administrator-footer>
</main>
