.left-part {
  margin: 10px 0;
}

.online {
  text-align: center;
  color: rgba(128,128,128, 0.5);
}

.progress {
  margin: 10px auto;
  width: 150px;
}

.progress-bar {
  background-color: rgba(245, 55, 55, 0.8);
}

.menu-bar-box {
  width: 52%;
  margin: 0 auto;
}

.menu-bar-box > div {
  margin: 10px auto;
  cursor: pointer;
  //height: 40px;
  height: 3em;
  line-height: 3em;
}

.menu-bar-box div a {
  margin-bottom: 10px;
  margin-left: 6px;
  letter-spacing: 1px;
  vertical-align: middle;
}

.menu-bar-box div i {
  vertical-align: middle;
  color: rgba(128,128,128, 0.9);;
}


.menu-bar-box > div:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 6px;
  padding-left: 7px;
  transition: 0.8s;
}
