footer {
    background-color: darkgray;
}

.info{
    padding: 15px 30px;
}

.authors{
    background-color: #313335;
    color: white;
    padding: 15px 30px;
}

.center{
    text-align: center;
}
.donate{
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 25px;
    width:max-content;
    border: 0;
    background-color: lightgray;
}

.donate:hover{
    background-color: brown;
    color: white;
}

.developers{
    text-align: right;
}

@media (max-width: 576px) { 
    .developers, .copyright {
        text-align: center;
    }

    .copyright {
        margin-bottom: 10px;
    }

    .info .col-sm-4{
        padding: 10px 0;
    }
 }