<footer>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li *ngFor="let item of menu">
          <a href={{item.link}}>{{item.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <p>
          Lorem ipsum dolor sit 

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="col-md-3">
      <p>
          Technical support:

          +38 012 345 67 8*
          +38 012 345 67 8*
          +38 012 345 67 8*
          write@us.now
          Kyiv, Somestr str., 5
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p> © 2018, SoftServe Inc</p>
    </div>
    <div class="col-md-4">
      <p>Developed with love by WebUI Team</p>
    </div>
  </div>
</footer>
  