footer {
    background-color: darkgray;
}

.authors {
    background-color: #313335;
    color: white;
    padding: 15px 30px;
}

.center {
    text-align: center;
}

.developers {
    text-align: right;
}

@media (max-width: 576px) {
    .developers {
        text-align: center;
    }
    .copyright {
        text-align: center;
        margin-bottom: 10px;
    }
    .info .col-sm-4 {
        padding: 10px 0;
    }
}