<div [id]="iden" class="carousel slide slider" data-ride="carousel">
  <div class="carousel-inner">
      <ng-content></ng-content>
  </div>
  <a class="carousel-control-prev" [href]="'#'+iden" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" [href]="'#'+iden" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

  <ul *ngIf="_breads" class="carousel-indicators">
    <li [attr.data-target]="'#'+iden" data-slide-to="0" class="active"></li>
    <li [attr.data-target]="'#'+iden" data-slide-to="1"></li>
    <li [attr.data-target]="'#'+iden" data-slide-to="2"></li>
  </ul>
</div>