<!--<div *ngIf="stage==1"class="full-reg">-->
  <!--<div class="carousel">-->

    <!--<ol class="carousel-indicators">-->
      <!--<li></li>-->
      <!--<li class="active"></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
    <!--</ol>-->

    <!--<div #stage1 class="registration row">-->
      <!--<div class="signUp-flow col-12 col-sm-10">-->
        <!--<h3>Register in just a few steps:</h3>-->
        <!--<h4>You want to...</h4>-->
        <!--<div class="btn btn-outline-light btn-lg" (click)="selectPreference('date')">Go on a date</div>-->
        <!--<div class="btn btn-outline-light btn-lg" (click)="selectPreference('friends')">Find a new friends</div>-->
        <!--<div class="btn btn-outline-light btn-lg" (click)="selectPreference('chatting')">Just chatting</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<a class="carousel-control-prev" role="button" (click)="isPrev()">-->
      <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
      <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="carousel-control-next" role="button" (click)="isNext()">-->
      <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
      <!--<span class="sr-only">Next</span>-->
    <!--</a>-->

  <!--</div>-->
<!--</div>-->


<div #stage1 class="registration row">
  <div class="signUp-flow col-12 col-sm-10">
    <h3>Register in just a few steps:</h3>
    <h4>You want to...</h4>
    <div class="btn btn-outline-light btn-lg" (click)="selectPreference('date')">Go on a date</div>
    <div class="btn btn-outline-light btn-lg" (click)="selectPreference('friends')">Find a new friends</div>
    <div class="btn btn-outline-light btn-lg" (click)="selectPreference('chatting')">Just chatting</div>
  </div>
</div>
