{{this.messages}}
<div
  class="d-flex flex-column h-100"
  [ngClass]="!messages?'justify-content-start':'justify-content-end'"
  >
  <div *ngIf="!messages" class="d-flex justify-content-center">
    <span class="default">Choose user to start messaging</span>
  </div>
  <div *ngIf="!!messages" class="message-list scrollbar">
      <div 
        *ngFor="let mess of messages" 
        class="d-flex"
        [ngClass]="!!mess.me?'justify-content-end':'justify-content-start'"
      >
        <span
          class="message"
          [ngClass]="!!mess.me?'right':'left'"
        >{{mess.text}}</span>
      </div>
  </div>
  <div *ngIf="!!messages">
      <div class="input-group input-container">
        <textarea
          class="textarea"
          rows="3"
          placeholder="Type your message here..."
          [(ngModel)]="sending.text"
        ></textarea>
        <input type="button" value="Send" class="send" (click)="sendMes()" />
      </div>
  </div>
</div>
