.container{
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: "Open Sans","OpenSans",sans-serif;
}

.btn-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px !important;
  width: 25%;
  cursor: pointer;
}

.btn.btn-info{
  background-color: #193952;
}

.btn.btn-danger{
  background-color: #ef233c;
}

.textarea {
  border-radius: 10px;
  resize: none;
  width: 100%;
  border: 1px solid lightgray;
  padding: 10px 15px;
}

textarea:focus {
  outline: 0;
}

h4{
  margin-bottom: 10px;
}

p{
  margin-bottom: 10px;
}
