:host {
  position: relative;
}

.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 1px solid #1a2580;
  border-radius: 5px;
}

.hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #1a2580;
}

.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1a2580;
  content: "";
}

.hamburger span::before {
  top: -10px;
}

.hamburger span::after {
  bottom: -10px;
}

.hamburger.active span {
  background-color: transparent;
}

.hamburger.active span::before,
.hamburger.active span::after {
  top: 0;
}

.hamburger.active span::before {
  transform: rotate(45deg);
}

.hamburger.active span::after {
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1200px) {
  .users__gallery {
    width: 100%;
  }

  .users__gallery .users__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 60vh;
    width: 100%;
  }

  .users__gallery .users__container .user__container {
    flex: 1;
    flax-direction: column;
    border: 1px solid black;

  }
  .users__gallery .users__container .user__container .img {
    flex: 2;
    border: 1px solid green;
  }

  .users__gallery .users__container .user__container .description {
    flex: 1;
    border: 1px solid yellow;
  }
}

@media only screen and (max-width: 768px) {

}
