<button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button>

<app-sidebar-menu [@slideInOut]="menuState"></app-sidebar-menu>

<section class="users">
  <div class="user-container">
    <div class="img"><img src=""alt="User"></div>
    <div class="description">
      <div class="date">
        <span>{{ 'User' }}</span>
      </div>
      <div class="location">Location: <b>{{ 'Kyev' }}</b></div>
      <a  class="button" href="">{{ 'Link' }}</a>
    </div>
  </div>
</section>
